// vars

$montserrat: "Montserrat", sans-serif;
// $montserrat: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$width: 1200px;

// css imports

@import "../../node_modules/normalize.css/normalize.css";

// color scheme

:root {
  --textcolor: #222;
  --bodybg: rgb(252, 252, 255);
  --border: #dce1e6;
}

// general

body {
  font-family: $montserrat;
  font-size: 15px;
  position: relative;
  line-height: 1.55;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/**
sticky footer
*/

/* mobile viewport bug fix */
html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

header.header,
footer.footer {
  flex-shrink: 0;
}

main.main {
  flex: 1 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 652px) {
  main.main {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

@media screen and (min-width: 800px) {
  main.main {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
}

.main-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
