// vars

$montserrat: "Montserrat", sans-serif;
$width: 1200px;

// css imports

@import "../../node_modules/normalize.css/normalize.css";

// color scheme

:root {
  --textcolor: #222;
  --bodybg: rgb(252, 252, 255);
  --border: #dce1e6;
}

// general

body {
  font-family: $montserrat;
  font-size: 16px;
  position: relative;
  line-height: 1.55;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  /* colors */
  color: var(--text);
  background-color: var(--bodybg);
}

@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
}

/**
sticky footer
*/

/* mobile viewport bug fix */
html {
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

header.header,
footer.footer {
  flex-shrink: 0;
}

main.main {
  flex: 1 0 auto;
}
