@import "config";

// TEMP!!!!!

header.header {
  background-color: lightblue;
}

main.main {
  background-color: plum;
}

footer.footer {
  background-color: lightgoldenrodyellow;
}

.container,
.container-lg {
  background-color: rgba(0, 0, 0, 0.15);
}

// silence is gold

main.main,
footer.footer,
header.header {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;

  &-lg {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .container {
    &-lg {
      max-width: 620px;
    }
  }
}

// header

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__inner {
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// footer

.footer {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  &__inner {
    &--top {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;
    }

    &--bottom {
      margin-top: 1.5rem;
    }
  }
}

@media screen and (min-width: 540px) {
  .footer {
    &__inner {
      &--top {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .footer {
    &__inner {
      &--top {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
